<% provide :title, t(:editing, scope: :admin, admin: @admin.email) %>

<div class="jumbotron align-items-center">
  <h2><%= t :editing, scope: :admin, admin: @admin.email %></h2>

  <%= render 'form', admin: @admin, password: true, submit_label: t(:edit) %>

  <%= link_to t(:show), @admin %> |
  <%= link_to t(:back), admins_path %>
</div>
