<p>
  <%= t '.greetings', user: @email %>
</p>

<p>
  <%= t '.body_info' %>
</p>

<p>
  <%= link_to t('.link'), edit_password_url(@resource, reset_password_token: @token) %>
</p>

<p>
  <%= t '.body_ignore' %>
</p>
